spring:
  datasource:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://47.107.157.67:3306/imooc?useSSL=false&characterEncoding=utf-8
      username: root_remorte
      password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5Dialect
  jackson:
    default-property-inclusion: non_null
logging:
  pattern:
    console: "%d - %msg%n"
  path: var/log/tomcat/
server:
  context-path: /sell
